<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Andrew Clarkson - Software Developer</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/img/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/img/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/img/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='assets/img/site.webmanifest')}}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Gp - v4.7.0
    * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0"><a href="{{url_for('home')}}">AC<span>.</span></a></h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#skills">Skills</a></li>
                <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <a href="#contact" class="btn btn-outline-warning scrollto workwithme">Work With Me</a>

    </div>
</header>
<!-- End Header -->


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>Andrew Clarkson</h1>
                <h2>Software Developer</h2>
            </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <a href="https://github.com/TallSoup"><i class="ri-github-line"></i></a>
                    <h3><a href="https://github.com/TallSoup">GitHub</a></h3>
                </div>
            </div>

            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <a href="https://www.linkedin.com/in/andrewtclarkson/"><i class="ri-linkedin-fill"></i></a>
                    <h3><a href="https://www.linkedin.com/in/andrewtclarkson/">LinkedIn</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <a href="https://discord.gg/s3THRWAVGM"><i class="ri-discord-line"></i></a>
                    <h3><a href="https://discord.gg/s3THRWAVGM">Discord</a></h3>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Hero -->

<main id="main">

    <!-- ======= Skills Section ======= -->

    <section id="skills" class="features">
        <div class="container">

            <div class="section-title">
                <h2>Skills</h2>
                <p>What I can do</p>
            </div>

            <div class="row">
                <div class="image col-lg-6" style='background-image: url("static/assets/img/features.jpg");'>
                </div>
                <div class="col-lg-6">

                    <div class="icon-box mt-5 mt-lg-0">
                        <i class="bx ri-brackets-line"></i>
                        <h4>PYTHON</h4>
                        <div>
                            <p>Object Oriented Programing</p>
                            <p>Flask with Jinja Templating</p>
                            <p>SQLite, SQLAlchemy, PostgreSQL Databases</p>
                            <p>Selenium Webdriver</p>
                            <p>Beautiful Soup Web Scraping</p>
                            <p>Encryption, Hashing, Salting</p>
                            <p>Creating and using APIs</p>
                        </div>
                    </div>

                    <div class="icon-box mt-5">
                        <i class="bx ri-cursor-fill"></i>
                        <h4>WEB DEVELOPMENT</h4>
                        <div>
                            <p>Bootstrap</p>
                            <p>Responsive Design</p>
                            <p>HTML</p>
                            <p>CSS</p>
                            <p>WTForms</p>
                        </div>
                    </div>

                    <div class="icon-box mt-5">
                        <i class="bx ri-discord-line"></i>
                        <h4>DISCORD BOTS</h4>
                        <div>
                            <p>Discord.py Library</p>
                            <p>Community Management, Responder and Data Bots</p>
                            <p>Custom built for your server</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End Skills Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <h2>Check Out my Work</h2>
                <p>My Portfolio</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        {% for f in filters %}
                        <li data-filter=".filter-{{f}}">{{f}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                {% for p in portfolio %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-{{p.filter}}">
                    <div class="portfolio-wrap">
                        <img src="{{p.img}}" class="img-fluid" alt="{{p.alt}}">
                        <div class="portfolio-info">
                            <h4>{{p.h4_desc_title}}</h4>
                            <p>{{p.category}}</p>
                            <div class="portfolio-links">
                                <a href="{{p.img}}" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="{{p.lightbox_desc}}"><i class="bx bx-plus"></i></a>
                                <a href="{{p.link}}" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>

</main>
<!-- End #main -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
        <div class="text-center">
            <h3>Let's Work Together</h3>
        </div>

    </div>
</section>
<!-- End Cta Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title contactlower">
            <h2>Contact</h2>
            <p>Contact Me</p>
        </div>

        <div class="row mt-5">
            <div class="col-lg-8 mt-5 mt-lg-0">
                <form action="https://formspree.io/f/xeqneyna" method="POST">
                    <div class="form-group">
                        <label>
                            Name</label>
                        <input type="name" class="form-control" name="name">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>
                            Email Address</label>
                        <input type="email" class="form-control" name="_replyto">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>
                            Message</label>
                        <textarea class="form-control" name="message" rows="4"></textarea>
                    </div>

                    <!-- your other form fields go here -->
                    <button type="submit" class="btn btn-warning">Send</button>
                </form>


            </div>

            <div class="col-lg-4 vertical-center">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Canada</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>thetallsoup@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>647 527 6411</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Contact Section -->


<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Andrew Clarkson</span></strong> {{ year }}. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>